:root {
  --global-bg-color: #fffaf0;
  --global-footer-bg-color: #edf2ea;
  --global-code-background-color: #f1f5ef;
}

html[data-theme="dark"] {
  --global-bg-color: #101418;
  --global-footer-bg-color: #171d22;
  --global-code-background-color: #1b2329;
}